<div class="spacing-30"></div>
<div class="container zerogrid">
    <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>&copy; Copyright &copy; 2016.BAGUAZ All rights reserved.</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->
            <img src="${IMG_PATH}/footer-logo.png" id="footer-logo" />
            <!-- End Footer Logo -->

            <div class="clear"></div>
        </div>
    </div>
</div>