body {
    font-size: 1.4rem;
}

body>section.commu-secstyle{
    min-height: 500px;
    min-width: 390px
}

.am-form select, .am-form textarea, .am-form input[type="text"], .am-form input[type="password"], .am-form input[type="datetime"], .am-form input[type="datetime-local"], .am-form input[type="date"], .am-form input[type="month"], .am-form input[type="time"], .am-form input[type="week"], .am-form input[type="number"], .am-form input[type="email"], .am-form input[type="url"], .am-form input[type="search"], .am-form input[type="tel"], .am-form input[type="color"], .am-form-field {
    font-size: 1.2rem;
}

.am-form .am-form-group input {
    line-height: 1.3;
}

.am-form-group {
    margin-bottom: 1.8rem;
}

.am-g-fixed {
    max-width: 1100px;
}

.am-panel-bd {
    word-break: break-word;
    word-wrap: break-word;
}

.avatar {
    width: 48px;
}

.community-panel.am-panel {
    border-radius: 2px;
    border: 0;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.community-panel .am-panel-hd {
    border-bottom: 0;
}

.panel-ul.am-list > li {
    padding: 0.25rem 0 0.25rem 0;
}

.panel-ul.am-list > li:first-child {
    border-top: 0;
}

.panel-ul.am-list > li:last-child {
    border-bottom: 0;
}

.panel-ul.am-list > li > a {
    display: inline-block;
    padding: 0;
}

.panel-ul.am-list > li > span {
    display: inline-block;
    width: 5rem;
}

.panel-ul.am-list > li > span:last-child {
    display: inline-block;
    width: 10rem;
    float: right;
    text-align: right;
    padding-right: 2rem;
}

.panel-ul.am-list > li > i {
    margin-right: 0.5rem;
}

.topic-ul.am-list > li {
    padding: 1rem 0 1rem 0;
}

.topic-ul.am-list > li:first-child {
    border-top: 0;
}

.topic-ul.am-list > li:last-child {
    border-bottom: 0;
}

.node {
    font-size: 1.2rem;
    padding: 2px 4px 2px 4px;
    background: #F5F5F5;
    border-radius: 2px;
    color: #999;
}

.am-panel-bd .attr {
    margin-bottom: 1rem;
}

.am-panel-bd .attr > span {
    font-size: 1.2rem;
    color: #8E8686;
}

.am-panel-bd .reply-content {
    margin-bottom: 0.5rem;
}

#topic_title {
    font-size: 3rem;
    font-weight: 700;
    vertical-align: middle;
}

.topic-panel .attr > span {
    color: #8E8686;
}

.am-pagination > li > div.ellip {
    margin: 0 0.7rem 0 0.5rem;
}

body .grippie {
    width: 100%;
    cursor: pointer;
    height: 11px;
    overflow: hidden;
    display: block;
    border-top: 1px solid #F5F5F5;
    background: url(../images/community/grippie.png) #F5F5F5 no-repeat center 3px;
}

.wangEditor-drop-panel input[type=text], .txt-toolbar input[type=text] {
    display: inline-block;
}

@-webkit-keyframes twinkling {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.l-label {
    padding-right: 0.5rem;
    font-size: 1.071em;
}

.c-good {
    -webkit-animation: twinkling 2s infinite ease;
    color: #e48e09;
}

.c-top {
    color: #919191;
}

.floor {
    transition: background 2s;
    -moz-transition: background 2s; /* Firefox 4 */
    -webkit-transition: background 2s; /* Safari 和 Chrome */
    -o-transition: background 2s; /* Opera */
}

.floor.obvious {
    background: #9bf0ea;
}

.reply-ul.am-list > li:first-child {
    border-top: 0;
}

.reply-ul.am-list > li {
    padding: 1rem 1.25rem 1rem 1.25rem;
}

.wangEditor-container .wangEditor-txt blockquote {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 5px solid #ddd;
    background-color: #f8f8f8;
}

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 5px solid #ddd;
    background-color: #f8f8f8;
    font-family: 微软雅黑;
}

a.edit-title {
    color: #222;
    display: inline-block;
    position: relative;
    top: 0.5rem;
    margin-left: 0.5rem;
}
a.edit-title>i{
    font-size: 1.8rem
}

.post-area .msg-box{
    position: absolute;
    z-index: 999;
}
.post-area .inputtxt-area .msg-box{
    right:18px;
    top: 2px;
}
.post-area .inputtxt-area .msg-box .msg-wrap{
    right:4px
}

.post-area .editor-area .msg-box{
    bottom: 3rem;
}
