<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--#
        include("/admin/head.html",{title:"修改栏目",description:"",keywords:""}){}

        var setting=@BgzKit.json2obj(cat.setting);
    -->
    <link rel="stylesheet" href="${JS_PATH}/nicevalid/jquery.validator.css" type="text/css"/>
    <link rel="stylesheet" href="${JS_PATH}/kindeditor/themes/default/default.css" type="text/css"/>
    <style type="text/css">
        #tab4 p{
            font-weight: 500;
            margin: 0;
        }
    </style>
    <script type="text/javascript" src="${JS_PATH}/nicevalid/jquery.validator.js"></script>
    <script type="text/javascript" src="${JS_PATH}/nicevalid/local/zh-CN.js"></script>
    <script type="text/javascript" charset="utf-8" src="${JS_PATH}/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript">
        $(function() {
            $('input[name="setting[ishtml]"]').on("change",function(event){
                initursl("category",event.target.value,$('select[name="setting[category_ruleid]"]'));
                if(event.target.value==1){
                    $(".binddns").removeClass("am-hide")
                }else{
                    $(".binddns").addClass("am-hide")
                }
            });
            
            if($('input[name="setting[ishtml]"]:checked').val()==1){
            	$(".binddns").removeClass("am-hide")
            }
            
            $('input[name="setting[content_ishtml]"]').on("change",function(event){
                initursl("show",event.target.value,$('select[name="setting[show_ruleid]"]'));
            });
            
            $('select[name="info[parentid]"]').on("change",function(event){
                $('input[name="info[catdir]"]').trigger("validate");
        	});
            
            var $template_list=$('select[name="setting[template_list]"]');
    		var $category_template=$('select[name="setting[category_template]"]');
    		var $list_template=$('select[name="setting[list_template]"]');
    		var $show_template=$('select[name="setting[show_template]"]');

    		$template_list.on("change",function(event){
                if(event.target.value==""){
    				$category_template.empty().append("<option value>请选择</option>");
    				$list_template.empty().append("<option value>请选择</option>");
    				$show_template.empty().append("<option value>请选择</option>");
    				return;
    			}
                $.ajax({
                    type: "GET",
                    url: "/admin/category/tplFileList",
                    data: {
                        style:event.target.value,
                    },
                    dataType: "json",
                    success: function(ret){
                        if(ret.code==${@C.success}){
                        	$category_template.empty();
    						$list_template.empty();
    						$show_template.empty();
                            var options='<option value>请选择</option>';
                            $.each(ret.map.cattpllist,function(i,n){
                                options+='<option value="'+n.name+'">'+n.name+'</option>'
                            })
                            $category_template.append(options);
                            options='<option value>请选择</option>';
                            $.each(ret.map.listtpllist,function(i,n){
                                options+='<option value="'+n.name+'">'+n.name+'</option>'
                            })
                            $list_template.append(options);
                            options='<option value>请选择</option>';
                            $.each(ret.map.showtpllist,function(i,n){
                                options+='<option value="'+n.name+'">'+n.name+'</option>'
                            })
                            $show_template.append(options);
                        }
                    }
                });
            });
    		
            var validmsg="输入正确";
            $("form").validator({
                theme: 'simple_right',
                rules: {
                    catdir: [/^(\w|-)+$/, "目录名称必须为字母、数字、下划线、中划线"],
                    dburl:[/^(https?|s?ftp):\/\/\S+(\/)$/i,""]
                },
                fields:{
                    'info[modelid]':{
                        rule:"模型:required",
                        tip:"请选择模型",
                        ok:validmsg
                    },
                    'info[parentid]':{
                        rule:"上级栏目:match[neq, info[catid]]",
                        msg:{
                            match: "{0}不能选择为本栏目"
                        }
                    },
                    'info[catname]':{
                        rule:"栏目名称:required,length[~30]",
                        tip:"请输入栏目名称",
                        ok:validmsg
                    },
                    'info[catdir]':{
                        rule:"目录名称:required,catdir,remote[/admin/category/checkcatdir, catid:#catid, parentid:#parentid]",
                        tip:"请输入目录名称",
                        ok:validmsg
                    },
                    'setting[template_list]':{
                        rule:"可用风格:required",
                        msg: {
                            required: "请在【模板设置】选项中设置模板",
                        },
                        tip:"请在【模板设置】选项中设置模板",
                        ok:validmsg
                    },
                    'info[url]':{
                        rule:"域名:dburl",
                        msg: {
                            dburl: "格式应该为http://www.google.com/，请以‘/’结束",
                        },
                        tip:"域名可为空，格式应该为http://www.google.com/",
                        ok:validmsg
                    }
                },
                valid: function(form){
                    var me = this;
                    // 提交表单之前，hold住表单，防止重复提交
                    me.holdSubmit();
                    $.ajax({
                        type: "POST",
                        url: "/admin/category/edit",
                        data: $("form").serialize(),
                        dataType: "json",
                        success: function(ret){
                            if(ret.code==${@C.success}){
                                window.top.layer.alert(ret.msg,function(index){
                                    window.top.layer.close(index);
                                    location.href="/admin/category/init"
                                })
                            }
                        },
                        complete:function(ret){
                            me.holdSubmit(false);
                        }
                    });
                },
                invalid:function(form,errors){
                    window.top.layer.alert(errors[0]);
                }
            });

            $('.submitBtn').on("click",function(event){
                $('form').trigger("validate");
            });

            KindEditor.ready(function(K) {
                var editor = K.editor({
                    fileManagerJson:"/admin/attachment/manager",
                    allowFileManager:true,
                    uploadJson:"/admin/attachment/upload",
                });
                $('.uploadBtn').click(function () {
                    editor.loadPlugin('image', function () {
                        editor.plugin.imageDialog({
                            imageUrl: $('input[name="info[image]"]').val(),
                            clickFn: function (url, title, width, height, border, align) {
                                $('input[name="info[image]"]').val(url);
                                editor.hideDialog();
                            }
                        });
                    });
                });
            });

            $.each(${catpriv},function(i,n){
                $('input[name="roleids"]').filter('[value="'+n+'"]').prop("checked",true)
            });
        });
        var initursl=function(file,ishtml,sjq){
            $.ajax({
                type: "GET",
                url: "/admin/urlrule/getSelUrList",
                data: {
                    file:file,
                    ishtml:ishtml
                },
                dataType: "json",
                success: function(ret){
                    if(ret.code==${@C.success}){
                        sjq.empty();
                        var options="";
                        $.each(ret.map.selUrList,function(i,n){
                            options+=('<option value="'+n.id+'">'+n.example+'</option>');
                        })
                        sjq.append(options);
                    }
                }
            });
        }
    </script>
</head>
<body>
<section>
    <div class="am-g">
        <div class="am-u-sm-12 am-padding-sm">
            <div id="catmngbar">
                <!--#include("/admin/category/catmngbar.html"){}-->
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12 am-padding-sm am-padding-top-0">
            <form class="am-form am-form-horizontal">
                <fieldset>
                    <div class="am-tabs nolrs" data-am-tabs="{nolrs: 1}">
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="#tab1">基本选项</a></li>
                            <li><a href="#tab2">生成HTML设置</a></li>
                            <li><a href="#tab3">模板设置</a></li>
                            <li><a href="#tab4">SEO设置</a></li>
                            <li><a href="#tab5">权限设置</a></li>
                        </ul>
                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                <div class="am-form-group">
                                    <label for="info[modelid]" class="am-u-sm-2 am-form-label">请选择模型：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="info[modelid]">
                                            <option value="">请选择模型</option>
                                            <!--#
                                                for(model in modellist){
                                                    if(cat.modelid==model.id){
                                                        print('<option selected value="'+model.id+'">'+model.name+'</option>');
                                                    }else{
                                                        print('<option value="'+model.id+'">'+model.name+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[parentid]" class="am-u-sm-2 am-form-label">上级栏目：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select id="parentid" name="info[parentid]">
                                            <option value="0" selected>≡ 作为一级栏目 ≡</option>
                                            <!--#
                                                for(pcat in catlist){
                                                    if(cat.parentid==pcat.catid){
                                                        print('<option selected value="'+pcat.catid+'">'+pcat.pos+pcat.catname+'</option>');
                                                    }else{
                                                        print('<option value="'+pcat.catid+'">'+pcat.pos+pcat.catname+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[catname]" class="am-u-sm-2 am-form-label">栏目名称：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <input name="info[catname]" type="text" class="am-inline-block" value="${cat.catname}"/>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[catdir]" class="am-u-sm-2 am-form-label">英文名称：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <input name="info[catdir]" type="text" class="am-inline-block" value="${cat.catdir}"/>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[image]" class="am-u-sm-2 am-form-label">栏目图片：</label>
                                    <div class="am-u-sm-4 am-padding-0">
                                        <input name="info[image]" type="text" value="${cat.image}"/>
                                    </div>
                                    <div class="am-u-sm-2 am-u-end">
                                        <button type="button" class="uploadBtn am-btn am-btn-default am-btn-xs">上传图片</button>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[description]" class="am-u-sm-2 am-form-label">描述：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <textarea name="info[description]" rows="5" cols="30">${cat.description}</textarea>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[workflowid]" class="am-u-sm-2 am-form-label">工作流：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[workflowid]">
                                            <option value="0" selected>不需要审核</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="info[ismenu]" class="am-u-sm-2 am-form-label">是否显示：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="info[ismenu]" value="1" <!--# if(cat.ismenu==1){print("checked");} -->/> 是
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="info[ismenu]" value="0" <!--# if(cat.ismenu==0){print("checked");} -->/> 否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab2">
                                <div class="am-form-group">
                                    <label for="setting[ishtml]" class="am-u-sm-2 am-form-label">栏目生成Html：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[ishtml]" value="1" <!--# if(setting.ishtml==1){print("checked");} -->/> 是
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[ishtml]" value="0" <!--# if(setting.ishtml==0){print("checked");} -->/> 否
                                        </label>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[content_ishtml]" class="am-u-sm-2 am-form-label">内容页生成Html：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[content_ishtml]" value="1" <!--# if(setting.content_ishtml==1){print("checked");} -->/> 是
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[content_ishtml]" value="0" <!--# if(setting.content_ishtml==0){print("checked");} -->/> 否
                                        </label>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[category_ruleid]" class="am-u-sm-2 am-form-label">栏目页URL规则：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[category_ruleid]">
                                        <!--#
											for(ur in catSelUrList){
											    if(setting.category_ruleid==ur.id){
												    print('<option selected value="'+ur.id+'">'+ur.example+'</option>');
												}else{
												    print('<option value="'+ur.id+'">'+ur.example+'</option>');
												}
											}
										-->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[show_ruleid]" class="am-u-sm-2 am-form-label">内容页URL规则：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[show_ruleid]">
                                        <!--#
                                            for(ur in showSelUrList){
                                                if(setting.show_ruleid==ur.id){
												    print('<option selected value="'+ur.id+'">'+ur.example+'</option>');
												}else{
												    print('<option value="'+ur.id+'">'+ur.example+'</option>');
												}
                                            }
                                        -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[create_to_html_root]" class="am-u-sm-2 am-form-label">是否生成到根目录：</label>
                                    <div class="am-u-sm-8 am-u-end am-padding-0">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[create_to_html_root]" value="1" <!--# if(setting.create_to_html_root==1){print("checked");} -->/> 是
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="setting[create_to_html_root]" value="0" <!--# if(setting.create_to_html_root==0){print("checked");} -->/> 否
                                        </label>
                                    </div>
                                </div>
                                <div class="am-form-group binddns am-hide">
                                    <label for="info[url]" class="am-u-sm-2 am-form-label">绑定域名：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <input name="info[url]" class="am-inline-block" value="<!--# if(setting.ishtml==1 && strutil.index(cat.url,'://')>0){print(cat.url);}-->" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab3">
                                <div class="am-form-group">
                                    <label for="setting[template_list]" class="am-u-sm-2 am-form-label">可用风格：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[template_list]">
                                            <option value="" selected>请选择</option>
                                            <!--#
                                                for(tpl in templatelist){
                                                    if(setting.template_list==tpl.dirname){
                                                        print('<option selected value="'+tpl.dirname+'">'+tpl.name+'</option>');
                                                    }else{
                                                        print('<option value="'+tpl.dirname+'">'+tpl.name+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[category_template]" class="am-u-sm-2 am-form-label">栏目首页模板：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[category_template]">
                                            <option value="" selected>请选择</option>
                                            <!--#
                                                for(tpl in cattpllist){
                                                    if(setting.category_template==tpl.name){
                                                        print('<option selected value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }else{
                                                        print('<option value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[list_template]" class="am-u-sm-2 am-form-label">栏目列表页模板：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[list_template]">
                                            <option value="" selected>请选择</option>
                                            <!--#
                                                for(tpl in listtpllist){
                                                    if(setting.list_template==tpl.name){
                                                        print('<option selected value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }else{
                                                        print('<option value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[show_template]" class="am-u-sm-2 am-form-label">内容页模板：</label>
                                    <div class="am-u-sm-4 am-u-end am-padding-0">
                                        <select name="setting[show_template]">
                                            <option value="" selected>请选择</option>
                                            <!--#
                                                for(tpl in showtpllist){
                                                    if(setting.show_template==tpl.name){
                                                        print('<option selected value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }else{
                                                        print('<option value="'+tpl.name+'">'+tpl.name+'</option>');
                                                    }
                                                }
                                            -->
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="template_child" class="am-u-sm-2 am-form-label">模板应用到子栏目：</label>
                                    <div class="am-u-sm-8 am-u-end am-padding-0">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="template_child" value="1"/> 是
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="template_child" value="0" checked/> 否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab4">
                                <div class="am-form-group">
                                    <label for="setting[meta_title]" class="am-u-sm-3 am-form-label">
                                        META Title（栏目标题）
                                        <p>针对搜索引擎设置的标题</p>
                                    </label>
                                    <div class="am-u-sm-8 am-u-end am-padding-left-0 am-padding-top-sm">
                                        <input name="setting[meta_title]" type="text" value="${setting.meta_title}" />
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[meta_keywords]" class="am-u-sm-3 am-form-label">
                                        META Keywords（栏目关键词）
                                        <p>关键字中间用半角逗号隔开</p>
                                    </label>
                                    <div class="am-u-sm-8 am-u-end am-padding-0">
                                        <textarea name="setting[meta_keywords]" rows="5" cols="30">${setting.meta_keywords}</textarea>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="setting[meta_description]" class="am-u-sm-3 am-form-label">
                                        META Description（栏目描述）
                                        <p>针对搜索引擎设置的网页描述</p>
                                    </label>
                                    <div class="am-u-sm-8 am-u-end am-padding-0">
                                        <textarea name="setting[meta_description]" rows="5" cols="30">${setting.meta_description}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab5">
                                <!--#
									for(role in roles){
								-->
                                <label class="am-checkbox-inline bgz-checkbox-inline">
                                    <input name="roleids" type="checkbox" value="${role.id}">
                                    ${role.name}
                                </label>
                                <!--#
                                    }
                                -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="catid" name="info[catid]" value="${cat.catid}"/>
                    <input type="hidden" name="info[type]" value="0"/>
                    <input type="hidden" name="dosubmit"/>
                    <div class="am-form-group am-margin-sm">
                        <label class="am-u-sm-2 am-form-label">
                        </label>
                        <div class="am-u-sm-8 am-u-end am-padding-0">
                            <button type="button" class="submitBtn am-btn am-btn-default am-btn-sm">提交</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
</body>
</html>