    <div class="am-panel am-panel-default community-panel">
        <div class="am-panel-bd">
            <ul class="am-nav">
                <li <!--#if(sub=='notification'){print('class="am-active"');}-->><a href="/user/notification">通知</a></li>
                <li <!--#if(sub=='setting'){print('class="am-active"');}-->><a href="/user/setting">设置</a></li>
                <li <!--#if(sub=='collect'){print('class="am-active"');}-->><a href="#">收藏</a></li>
            </ul>
        </div>
    </div>