<div class="am-topbar am-topbar-inverse" style="margin-bottom: 0;">
    <h1 class="am-topbar-brand">
        baguaz
    </h1>
    <div class="am-topbar-right">
        <a href="/" target="_blank" class="am-btn am-btn-primary am-topbar-btn am-btn-xs">站点首页</a>
    </div>
    <div class="am-topbar-right">
        <a href="/admin/logout" class="am-btn am-btn-primary am-topbar-btn am-btn-xs">[退出]</a>
    </div>
    <div class="am-topbar-right">
        <a href="/admin" class="am-btn am-btn-primary am-topbar-btn am-btn-xs">[后台首页]</a>
    </div>
    <div class="am-topbar-right">
        <div style="padding: 0 10px;
    font-size: 1.2rem;
    height: 50px;
    line-height: 45px;">您好！<!--# print(session.user.userName); -->[<!--# print(session.user.roleNames); -->]</div>
    </div>
</div>